<div class="filter-menu"
    [class.focused]="focused">
    <div class="sidenav-wrapper" [class.open]="panelOpen">
        <div class="aggregations-background">
            <app-executions-filters></app-executions-filters>
            <app-jobs-filters></app-jobs-filters>
        </div>
        <button matTooltip="Filters" [matTooltipPosition]="'after'" mat-mini-fab
            class="filter-toggle"
            (click)="panelOpen = !panelOpen">
            <mat-icon>tune</mat-icon>
        </button>
    </div>
</div>