.filter-menu {
    position:absolute;
    top: 25%;
    left: 0;
    z-index: 500;
    &.focused {
        z-index: 900;
    }
    button.filter-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.aggregations-background {
    flex: 1 1 auto;
    background-color: black;
    padding: 20px;
    max-height: 50vh;
    overflow-y: auto;
}

.sidenav-wrapper {
    display: flex;
    transform: translateX(calc(-100% + 40px));
    transition: transform .5s ease-in-out;
    &.open {
        transform: translateX(0);
    }
}