.filter-menu {
    pointer-events: none;
    position:absolute;
    top: 40%;
    left: 0;
    z-index: 500;
    &.focused {
        z-index: 900;
    }
    button.filter-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    * {
        pointer-events: all;
    }
}

.aggregations-background {
    flex: 1 1 auto;
    background-color: black;
    padding: 20px;
    max-height: calc(60vh - 40px);
    overflow-y: auto;
}

.sidenav-wrapper {
    display: flex;
    transform: translateX(calc(-100% + 40px));
    transition: transform .5s ease-in-out;
    &.open {
        transform: translateX(0);
    }
}