<div class="filters-category" *ngIf="filters$ | async; let filters">
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select
            (selectionChange)="setStatus($event, filters)" multiple
            [(value)]="selectedStatus">
            @for (status of statuses; track status) {
            <mat-option [value]="status">{{status}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field class="id-container">
        <mat-label>Ids</mat-label>
        <textarea [(ngModel)]="ids" (input)="parseInput(filters)"
            matInput></textarea>
    </mat-form-field>
</div>