.wrapper {
    position: absolute;
    left:0;
    top: calc(25% - 40px);
    z-index: 500;
    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.rotate {
    animation: spinner 1.5s linear infinite; 
  }
  @keyframes spinner {
    to { transform: rotate(360deg); }
  }