<div class="wrapper">
    <mat-card appearance="outlined" class="filters-card">
        <mat-card-header>
            <mat-card-title>Filters</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="jobs-filter">
                <app-jobs-filters></app-jobs-filters>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="actions-menu">
        <button mat-flat-button [matMenuTriggerFor]="menu"
            [disabled]="!selectedJobs.length">Actions</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                (click)="rerunJobs()">Rerun</button>
            <button mat-menu-item
                (click)="updateJobsStatus(jobStatus.Active)">Activate</button>
            <button mat-menu-item
                (click)="updateJobsStatus(jobStatus.Inactive)">Deactivate</button>
        </mat-menu>
    </div>
    <app-job-list></app-job-list>
</div>