.filter-menu {
    pointer-events: none;
    position:absolute;
    top: calc(25% + 40px);
    right: 0;
    z-index: 500;
    button.filter-toggle {
        pointer-events: all;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.filters {
    pointer-events: all;
    flex: 1 1 auto;
    background-color: black;
    gap: 20px;
    padding: 20px;
    max-height:50vh;
    overflow-y: auto;
}

.job-form {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.sidenav-wrapper {
    display: flex;
    transform: translateX(calc(100% - 40px));
    transition: transform .5s ease-in-out;
    &.open {
        transform: translateX(0);
    }
}