a, a:visited, a:hover, a:active {
    color: inherit;
}

table.mat-mdc-table {
    .mat-mdc-row {
        height: 50px;
    }

    .errored {
        background-color: rgba(209, 87, 87, .8);
    }

    .running {
        background-color: #d1b257;
    }
    .mat-column-errors {
        width: 20vw;
    }
    .mat-column-id, .mat-column-jobs {
        width: 41ch;
    }
    .mat-column-executionStartDate, .mat-column-executionEndDate {
        width: 22ch;
    }
}

:host {
    width: 100%;
}