a, a:visited, a:hover, a:active {
    color: inherit;
}

table.mat-mdc-table {
    .mat-mdc-row {
        height: 50px;
    }

    .errored {
        background-color: rgba(209, 87, 87, .8);
    }

    .running {
        background-color: #d1b257;
    }
}

:host {
    width: 100%;
}