<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort
        class="mat-elevation-z8 sub-table">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let job"> <a
                    href="{{'https://eu-west-1.console.aws.amazon.com/batch/home?region=eu-west-1#jobs/fargate/detail/' + job.id}}">{{job.id}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="productType">
            <th mat-header-cell *matHeaderCellDef> Product Type </th>
            <td mat-cell *matCellDef="let job"> {{job.productType}}</td>
        </ng-container>
        <ng-container matColumnDef="executionStartDate">
            <th mat-header-cell *matHeaderCellDef> Execution start date </th>
            <td mat-cell *matCellDef="let job">
                {{job.executionStartDate.toISO({ suppressMilliseconds: true,
                includeOffset: false })}}</td>
        </ng-container>
        <ng-container matColumnDef="executionEndDate">
            <th mat-header-cell *matHeaderCellDef> Execution end date </th>
            <td mat-cell *matCellDef="let job">
                {{job.executionEndDate && job.executionEndDate.toISO({
                suppressMilliseconds: true,
                includeOffset: false })}}</td>
        </ng-container>
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let job">
                {{job.startDate.year}}</td>
        </ng-container>
        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result </th>
            <td mat-cell *matCellDef="let job"> {{job.result}}</td>
        </ng-container>
        <ng-container matColumnDef="rerun">
            <th mat-header-cell *matHeaderCellDef> Rerun </th>
            <td mat-cell *matCellDef="let job"> {{job.rerun}}</td>
        </ng-container>
        <ng-container matColumnDef="jobs">
            <th mat-header-cell *matHeaderCellDef> Jobs </th>
            <td mat-cell *matCellDef="let job">
                @for (job of job.jobs; track job) {
                <span>{{job}}</span>
                <br />
                }
            </td>
        </ng-container>
        <ng-container matColumnDef="errors">
            <th mat-header-cell *matHeaderCellDef> Errors </th>
            <td mat-cell *matCellDef="let job">
                @for (error of job.errors; track error) {
                @if (error.id) {
                <a matTooltip="{{error.message}}"
                    href="{{'https://lobelia-earth.sentry.io/issues/' + error.id}}">{{error.name}}</a>
                } @else {
                <span>{{error.message}}</span>
                }
                <br />
                }
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [class.errored]="row.result === 'ERROR'"
            [class.running]="!row.result"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
        aria-label="Select page">
    </mat-paginator>
</div>